@import url(../css/home/footer.css);

  /* HEADER BOOTSTRAP*/
  .color{
    background-color: #2b2b2c;
    height: 12vh;
    flex-wrap: nowrap!important;
    font-family: 'Montserrat', sans-serif;
  }
  .navbar-dark .navbar-nav .nav-link{
    border: 2px solid #ffffff;
    border-radius: 6px;
    color: white!important;
  }
  .navbar-toggler{
    z-index: 900;
  }
  a.nav-link.separar2{
    margin-left: 10px;
  }
  .disable{
    color: #c1c1c1;
    font-size: .8em;
  }
  .disable:hover{
    color: #c1c1c1;
    background: white;
    font-size: .8em;
  }
 .able:hover{
   background-color: #2b2b2c;
   color:white;
 }
 .navbar-collapse{
   background-color: #2b2b2c;
 }
 .izquierda{
   display: flex;
   justify-content: space-around;
 }
 nav.navbar.navbar-expand-md{
  display: none;
}
main.py-4{
  padding: 0!important;
} 