@import url(../css/home/footer.css);

  /* HEADER BOOTSTRAP*/
  .color{
    background-color: #608491;
    height: 12vh;
  }
  .navbar-dark .navbar-nav .nav-link{
    border: 1px white solid;
    border-radius: 6px;
  }
  .disable{
    color: #c1c1c1;
    font-size: .8em;
  }
  .disable:hover{
    color: #c1c1c1;
    background: white;
    font-size: .8em;
  }
 .able:hover{
   background-color: #608491;
   color:white;
 }
 .navbar-collapse{
   background-color: #608491;
 }
 .izquierda{
   display: flex;
   justify-content: space-around;
 }
 nav.navbar.navbar-expand-md{
  display: none;
}
main.py-4{
  padding: 0!important;
} 