@import url("../header.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background: url(../home/img/bg2.png);
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}
h3{
	margin-top: 10px!important;
	background-color: #27283f;
	color: white;
}

.detalles {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}
.detalle-posteo{
	margin-top: 50px;
	border: solid 4px black;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 30px;
}
a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	margin-top: 30px;
	border-radius: 20px!important;
	border: 1px solid #cfa205;
	background-color: #cfa205;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-bottom: 20px!important;
	margin-top:20px!important;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: #79A8C1;
    border-color: #79A8C1;
    color:#FFFFFF;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
textarea{
	border: 1px solid black;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.detalle-posteo {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
	0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	margin-top: 80px;
	width: 50%!important;
	border: 2px solid #608491;
	height: 100%;
	text-align: center;

}

.form-container {
	background-image: url("../detalle/fondo.jpg");
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}
.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	font-size: 22px;
}

/*Comentarios*/
.comentarios{
	display: flex;
	flex-direction: column;
	width: 50%!;
}

.comentario{
	border: 1px solid #27283f;
	background-color: #fff;
	border-radius: 10px;
	padding: 5px;
	width: 50%;
	height: 8vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:5px auto;
}
.comentario #email{
	color: black;
	text-align: right;
}
.comentario span {
	font-weight: bold;
}
