/**   HEADER  */

header{
    padding: 3px 3px;
    background-color: #608491;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .logo img{
    height: 50px;
  }
  .buscador select{
    height: 100%;
    margin: 0px 0;
    width: 20vw;
    border-radius: 8px;
    color: grey;
  }
  .buscador{
    height: 30px;
  }
  .logo{
    text-align: right;
  }
  .login{
    display: flex;
    width: 20vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin-left: 1%;
  }
  .links a{
    color: white;
  }
  .preguntas{
    width: 20vw;
  }
  .preguntas a{
    color: white;
    }
  button a{
    text-decoration: none;
    color: black;
  }

  body{
   /* background-image: url("img/bg-body.jpg");*/
   background: url(login/img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: 'Comfortaa', cursive;
  }
  @media (max-width: 500px) {
    .preguntas{
      display: none;
    }
  }
