@import url("../header.css");
@import url(footer.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(img/bg3.png);
 background-color: white;
   background-size: contain;
   background-position: center;
   font-family: 'Muli', sans-serif;
 }

/** CARROUSEL  */

.carrousel{
  width: 70vw;
  padding: 0px;
  margin: 10px auto;
  position: relative;
}
.carrousel h3{
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  bottom: 10%;
  font-size: 25px;
}

@media (max-width: 1530px) {
    .carrousel{
      height: 320px;

    }
    .carrousel img{
      height: 320px;
      width: 800px;
    }
  }
@media (max-width: 1100px) {
  .carrousel{
    display: none;
  }
  .login{
    flex-direction: column;
}
}




/** NAV */
nav ul li a {
  color: rgba(0, 0, 0);
  font-size: 21px;
}

nav ul {
  /*border: 1px solid #E4F4FD;*/
  /*background: #bba6a3;*/
  width: 60%;
}
.sidebar nav{
  padding: 10px;
  margin-left: 5px;
  position: fixed;
  top: 60px;
  left: 0;
  color: rgba(0, 0, 0);
}
nav ul li{
  width: 90%;
  margin-left: 20px;
  margin-bottom: 15px;
  align-items: center;
  border-bottom:5px solid #cfa205 ;
  list-style: none;
  text-align: center;
}
nav ul li a{
  color: #111111;
}

.sidebar nav h3{
  font-weight: bold;
  font-size: 21px;
  width: 70%;
  text-align: center;
  margin-bottom:30px;
  /*background: #bba6a3;*/
}

@media (max-width: 1100px) {
  .sidebar{
    display: none;
  }
}


/** FILTROS */
.filtro{
  background-color: #cfa205;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px;
  width: 70vw;
  height: 70px;
  margin: 0 auto;
  margin-top: 50px;
}
.filtro label{
  margin: 0;
  color: #FFFFFF;
}
.filtro div{
  margin: 0 5px;
}
.filtro h3{
  font-size: 35px;
  text-decoration: none;
}
.filtros label{
  font-size: 25px;
  text-decoration: none;
}
.filtro button{
  width: 100%;
  height: 35px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

@media (max-width: 850px) {
  .filtro{
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 300px;
    padding: 3px;
  }
}

/** POSTEOS */
main{
  display: flex;

  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 60px;
}
.posteos{
  border: 2px solid #111111;
  margin-bottom: 60px;
  height: 100%;
  border-radius: 0px;
}
strong{
  font-size: 20px;
}
.foto-posteo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto-posteo img {
  margin: 0px 0;
  border-radius: 0%;
}
.estado {
  width: 80%;
  margin-left: 20px;
}

.perdido h3{
  background-color: #e6c8a4 ;
}
.encontrado h3{
  background-color: #b9cb9d;
}
.adopción h3{
  background-color: #FF8967;
}

.estado h3{
  text-align: center;
  border-radius: 20px;
  border: 1px solid #aec6cf;
  width: 110%;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}
.detalles{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1600px) {
  .posteos{
    width: 28%;

  }
  .fccccoto-posteo img{
    margin-top: 2%;
    margin-left: 8%;
  }
}
@media (max-width: 1480px) {
  .posteos{
    width: 28%;
  }
}
@media (max-width: 1050px) {
  .posteos{
    width: 28%;

  }
  .foto-posteo img{
    width: 70%;

  }
}
@media (max-width: 940px) {
  .posteos{
    width: 35%;

  }
  .foto-posteo img{
    width: 70%;

  }
  .estado h3 {
    margin-top: 10px;
    margin-left: 0px;
    padding: 5px 5px;
  }
}
@media (max-width: 745px) {
  .posteos{
    width: 40%;

  }
  .foto-posteo img{
    width: 70%;
    margin-left: 25px;
    margin-top: 8%;
  }
  .estado h3 {
    margin-top: 10px;
    margin-left: -5px;
    padding: 5px 5px;
  }
}
@media (max-width: 545px) {
  .posteos{
    width: 40%;
  }
}
@media (max-width: 435px) {
  .posteos{
    width: 100%;
  }
}

/** PAGINACION **/

.pag{
  display: flex;
  justify-content: space-around;
}

.pag ul li{
  border-bottom:0px;
}


/** ASIDE */

aside{
  margin-left: 5vw;
  display: none;
}
aside h4{
  font-size: 30px;
  margin-top: 20px;
}
.adopcion img{
  width: 90%;
  display:block;
    margin:auto;
}
.adopcion{
  padding: 5%;
  border: solid 1px black;
  margin: 3px;
  }
  aside h6{
    text-align: center;
  }

/* BOTON */

button{
  border-radius: 6px;
  border: black 2px solid;
  background-color: #91A5AC;
  color: black;
  font-weight: bold;
  padding: 4px;
}
button:hover{
background-color: #7C8E95;
}
button#postear {
	border: 1px solid #D8B1AB;
	background-color: #D8B1AB;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	padding: 8px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  margin: 20 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#postear a{
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button#postear:active {
	transform: scale(0.95);
}

button#postear:focus {
	outline: none;
}

button#postear.ghost {
	background-color: #79A8C1;
    border-color: #79A8C1;
    color:#FFFFFF;
}

/*footer{
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 100%;
  height: 8vh;
  background-color: #608491;
  text-align: center;
}
footer h1{
  color: white;
  font-size: 20px;
  position: relative;
  top: 35%;
}*/
