@import url("../header.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(img/bg3.png);
   background-size: contain;
   background-position: center;
   font-family: 'Comfortaa', cursive;
 }

/** CARROUSEL  */

.carrousel{
  width: 70vw;
  padding: 0px;
  margin: 10px auto;
  position: relative;
}
.carrousel h3{
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  bottom: 10%;
  font-size: 25px;
}

@media (max-width: 1530px) {
    .carrousel{
      height: 320px;

    }
    .carrousel img{
      height: 320px;
      width: 800px;
    }
  }
@media (max-width: 1100px) {
  .carrousel{
    display: none;
  }
  .login{
    flex-direction: column;
}
}




/** NAV */
nav ul li a {
  color: rgba(0, 0, 0);
  font-size: 15px;
}

/*nav ul {
  border: 1px solid #E4F4FD;
  background: #E4F4FD;
}*/
.sidebar nav{
  padding: 10px;
  margin-left: 5px;
  position: fixed;
  top: 60px;
  left: 0;
  color: rgba(0, 0, 0);
}
nav ul li{
  width: 70%;
  margin-left: 15px;
  border: 1px solid #111111;
  list-style: none;
  text-align: center;
}
nav ul li a{
  color: #111111;
}

.sidebar nav h3{
  font-weight: bold;
  font-size: 20px;
  width: 160px;
  text-align: center;
  margin-left: 5px;
}

@media (max-width: 1100px) {
  .sidebar{
    display: none;
  }
}


/** FILTROS */
.filtro{
  background-color: #79A8C1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px;
  width: 70vw;
  height: 70px;
  margin: 0 auto;
  margin-top: 50px;
}
.filtro label{
  margin: 0;
  color: #FFFFFF;
}
.filtro div{
  margin: 0 5px;
}
.filtro h3{
  font-size: 35px;
  text-decoration: none;
}
.filtros label{
  font-size: 25px;
  text-decoration: none;
}
.filtro button{
  width: 100%;
  height: 35px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

@media (max-width: 850px) {
  .filtro{
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 300px;
    padding: 3px;
  }
}

/** POSTEOS */
main{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 60px;
}
.posteos{
  border: 2px solid #111111;
  margin-bottom: 60px;
  height: 100%;
  border-radius: 10px;
}
strong{
  font-size: 20px;
}
.foto-posteo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto-posteo img {
  margin: 3px 0;
}
.estado {
  width: 80%;
  margin-left: 20px;
}

.perdido h3{
  background-color: #9A6965 ;
}
.encontrado h3{
  background-color: #61A43D;
}
.enadopcion h3{
  background-color: #307388;
}

.estado h3{
  text-align: center;
  border-radius: 20px;
  border: 1px solid #aec6cf;
  width: 110%;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.detalles{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1600px) {
  .posteos{
    width: 28%;

  }
  .fccccoto-posteo img{
    margin-top: 2%;
    margin-left: 8%;
  }
}
@media (max-width: 1480px) {
  .posteos{
    width: 28%;
  }
}
@media (max-width: 1050px) {
  .posteos{
    width: 28%;

  }
  .foto-posteo img{
    width: 70%;

  }
}
@media (max-width: 940px) {
  .posteos{
    width: 35%;

  }
  .foto-posteo img{
    width: 70%;

  }
  .estado h3 {
    margin-top: 10px;
    margin-left: 0px;
    padding: 5px 5px;
  }
}
@media (max-width: 745px) {
  .posteos{
    width: 40%;

  }
  .foto-posteo img{
    width: 70%;
    margin-left: 25px;
    margin-top: 8%;
  }
  .estado h3 {
    margin-top: 10px;
    margin-left: -5px;
    padding: 5px 5px;
  }
}
@media (max-width: 545px) {
  .posteos{
    width: 40%;
  }
}
@media (max-width: 435px) {
  .posteos{
    width: 100%;
  }
}
/** ASIDE */

aside{
  margin-left: 5vw;
  display: none;
}
aside h4{
  font-size: 30px;
  margin-top: 20px;
}
.adopcion img{
  width: 90%;
  display:block;
    margin:auto;
}
.adopcion{
  padding: 5%;
  border: solid 1px black;
  margin: 3px;
  }
  aside h6{
    text-align: center;
  }

/* BOTON */

button{
  border-radius: 6px;
  border: black 2px solid;
  background-color: #91A5AC;
  color: black;
  font-weight: bold;
  padding: 4px;
}
button:hover{
background-color: #7C8E95;
}
footer{
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 100%;
  height: 8vh;
  background-color: #608491;
  text-align: center;
}
footer h1{
  color: white;
  font-size: 20px;
  position: relative;
  top: 35%;
}
