@import url("../header.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  background: url(img/bg2.png);

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }

/** CARROUSEL  */

.carrousel{
  width: 70vw;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}

@media (max-width: 1530px) {
    .carrousel{
      height: 320px;

    }
    .carrousel img{
      height: 320px;
      width: 800px;
    }
  }
@media (max-width: 1100px) {
  .carrousel{
    display: none;
  }
  .login{
    flex-direction: column;
}
}


/** FILTROS */
.filtro{
  background-color: #cfa205;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
  height: 70px;
  margin-top: 120px;
  margin: 0 auto;
}

.filtro label{
  margin: 0;
  color: #FFFFFF;
}
.filtro div{
  margin: 0 5px;
}
.filtro h3{
  font-size: 35px;
  text-decoration: none;
}
.filtros label{
  font-size: 25px;
  text-decoration: none;
}
.filtro button{
  width: 100%;
  height: 35px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

@media (max-width: 850px) {
  .filtro{
    flex-direction: row;
    align-items: flex-start;
    padding: 3px;
  }
  .filtro label{
    font-size:15px;
  }
}
@media (max-width: 485px) {
  .filtro{
    width: 85vw;
  }}
@media (max-width: 485px) {
    .filtro{
      width: 100%;
    }}



/*posteos*/

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width:70vw;
}
.posteo{
  width: 30%;
  border: solid 2px black;
  margin-bottom: 5vh;
  background-color: #FFFFFF;
}
.type{
  font-weight: bold;
}
.foto-posteo img{
  width: 100%;
  margin-bottom: 1vh;
  height: 20vh;
}

#perdido{
  background-color: #9A6965 ;
}
#encontrado{
  background-color: #61A43D;
}
.descripcion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 1vw;
}

.estado-posteo{
  background-color: #307388;
  text-align: center;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

@media (max-width: 1015px) {
  .estado-posteo{
    font-size: 10px;
}h3{
  font-size: 20px!important;
}}
@media (max-width: 972px) {
  .estado-posteo{
    font-size: 9px;
}}
@media (max-width: 865px) {
  .posteo{
    width: 40%;
}}
@media (max-width: 655px) {
  .posteo{
    width: 45%;
}}
@media (max-width: 585px) {
  .posteo{
    width: 55%;
    margin-left: 25%;
}}
@media (max-width: 420px) {
  .posteo{
    width: 75%;
    margin-left: 15%;
}}

/** PAGINACION **/

.pag{
  display: flex;
  justify-content: space-around;
}

.pag ul li{
  border-bottom:0px;
}
/* BOTON */

button{
  border-radius: 6px;
  border: black 2px solid;
  background-color: #91A5AC;
  color: black;
  font-weight: bold;
  padding: 4px;
}
button:hover{
background-color: #7C8E95;
}
button#postear {
  display: block;
  border-radius: 20px;
	border: 1px solid #27283f;
	background-color: #27283f;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	padding: 8px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
  width: 70vw;

  margin: 20px auto 40px auto;;
}

button#postear a{
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button#postear:active {
	transform: scale(0.95);
}

button#postear:focus {
	outline: none;
}

button#postear.ghost {
	background-color: #79A8C1;
    border-color: #79A8C1;
    color:#FFFFFF;
}
