@import url("../header.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background: url(img/bg3.png);
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 3em;
  	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h2 {
	font-size: 2em;
  	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}
a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}


button {
	boffrder-radius: 40%;
	border: 1px solid white;
	background-color: #D8B1AB;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	padding: 8px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin: 0 auto;
	height: 100%;
}

button a{
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: #79A8C1;
    border-color: #79A8C1;
    color:#FFFFFF;

}


main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
	background-color: #fff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
	0 10px 10px rgba(0,0,0,0.22);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	width: 50%;
	height: 85vh;
	margin-top: 80px;
}
.container-top {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 50%;
	width: 100%;
	margin: 20px;
  }

	.container-bot {
		padding: 20px;
		height: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		flex-wrap: wrap;
		background-color: #79A8C1;
		width: 100%;
	  }

  .avatar{
	height: 30vh;
	margin: auto;
	margin-top: 20px;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.avatar img {
	height: 100%;
	border-radius: 50%;
}


form{
	padding: 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #79A8C1;
	width: 100%;
}

@media (max-width: 695px) {
	form{
		padding: 15px;
	}
	@media (max-width: 575px) {
		button{
		  margin: 10px;
		}
		form{
			padding: 20px;
		}

		@media (max-width: 500px) {
			form{
				padding: 20px;
			}
			h2{
				display: none;
			}
			.avatar img{
				width: 60%;
			}
